/* all common css start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* all common css end */

/* header part start  */
#headerPart{
    background: #000000;
    padding: 5px 0;
}
.headerTextFlex{
    display: flex;
    padding-left: 500px;
}
.headerText p{
    font-size: 14px;
    font-weight: 400;
    color: #FAFAFA;
    line-height: 21px;
    font-family: "Poppins", sans-serif;
    padding-top: 4px;
}
.headerLink a{
    font-size: 14px;
    font-weight: 600;
    color: #FAFAFA;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    position: relative;
}
.headerLink a::after{
    position: absolute;
    height: 1px;
    width: 68px;
    background: #FAFAFA;
    left: 10px;
    content: "";
    bottom: 5px;
}
.headerLink a:hover{
    color: #959595;
    transition: .4s;
}
/* header part end */

/* menu part start  */
.navbar{
    background: #FFFFFF;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3b3b3;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    color: #000000;
    border-bottom: 1px solid #FFFFFF;
}
.nav-item{
    padding: 0 10px !important;
}

.nav-link:hover{
    color: #959595;
    border-bottom: 1px solid #959595;
    transition: .4s;
}
.d-flex {
    position: relative;
    outline: none !important;
}
.d-flex i{
    position: absolute;
    left: 191px;
    top: 12px;
    color: black;
}
.d-flex i:hover{
    color: #959595;
    transition: .4s;
}
.wishlist{
    justify-content: space-between;
}
.wishlist i{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #000000;
}
.wishlist i:hover{
    color: #959595;
    transition: .3s;
    transform: scale(1.05);
}
/* menu part end */

/* bannerPart part start  */
#bannerPart{
    padding-top: 45px ;
    padding-bottom: 150px;
}
.bannerList a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    margin-right: -20px;
}
.bannerList a:hover{
    transform: scale(1.05);
    transition: .4s;
}
.bannerList{
    position: relative;
}
.bannerList:after{
    position: absolute;
    width: 1px;
    height: 426px;
    background: #b3b3b3;
    right: -95px;
    content: "";
    top: -45px;
}
.bannerImg{
    padding: 25px ;
    background: black;
    margin-left: 120px;
    margin-right: -160px;
}
.bannerHead{
    display: flex;
}
.icon i{
    font-size: 50px;
    color: #FFFFFF;
}
.text p{
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
}
.bannerText h1{
    font-size: 48px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 15px 0;
}
.bannerText a{
    font-size: 24px;
    color: white;
    
}
.bannerText i{
    margin-left: 10px;
}
.bannerText h3:hover{
    transform: scale(1.05);
    transition: .4s;
    
}
.image{
    margin-left: 100px;
}
/* bannerPart part end */

/* category part start  */
#categoryPart{
    padding-bottom: 95px;
}
.categorySec{
    position: relative;
}
.categorySec::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 20px;
    background: #DB4444;
    top: -10px;
    left: 3px;
    border-radius: 4px;
}
.categorySec p{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #DB4444;
    margin-left: 40px;
}
.cText h3{
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}
.categoryHead{
    display: flex;
    justify-content: space-between;
}
.arrow a{
    padding: 10px;
    background: #f5f5f5;
    border-radius: 60%;
}
.arrow i{
    font-size: 14px;
    color: #000000;
    padding-bottom: 10px;
    background: #f5f5f5;
    border-radius: 50%;
}
.arrow i:hover{
    transform: scale(1.05);
    color: #000000;
    transition: .4s;
}
.categoryItem a:hover{
    transform: scale(1.05);
    transition: .4s;
}
/* category part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

/* header part start  */
/* header part end */

